.todos {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: scroll;
  &_content {
    width: 100%;

    @import './TodoBlock/TodoBlock.scss';
  }
}
