.tabs {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  &_nav {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  &_content {
    overflow: scroll;
  }
}
