$white_color: rgb(231, 223, 223);
$input_color_active: #5059be9b;
$input_color: #5059be;

@mixin btn_action($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  width: 60px;
  transition-duration: 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

@mixin box_shadow() {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
