$white_color: rgb(231, 223, 223);
$todo_color: #5059be9a;
$opacity_active: 65%;
$borderRadius_todo: 15px;
$input_transition: all 0.2s ease-in-out;
$input_transition_empty: all 1s ease-in-out;

@mixin btn_action($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  width: 60px;
  transition-duration: 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

$maxWidth_todo: 600px;
@mixin boxShadow_div() {
  box-shadow: 0px -2px 17px 11px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px -2px 17px 11px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px -2px 17px 11px rgba(0, 0, 0, 0.77);
}
@mixin boxShadow_todo() {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
