body {
  margin: 0;
}

.app {
  height: 100vh;
  font-family: 'Circular-loom';
  &_pages {
    display: flex;
    padding: 15px;
    height: calc(100vh - 130px);
  }
}

.light {
  background-color: $light_color;
}
.dark {
  background-color: $dark_color;
  color: $white_color !important;
}
