body {
  margin: 0;
}

.app {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  &_pages {
    display: flex;
    padding: 15px;
    height: calc(100vh - 130px);
  }
}

.light {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.dark {
  background: rgb(112, 110, 110);
  background: radial-gradient(circle, rgba(112, 110, 110, 1) 0%, rgba(51, 51, 51, 1) 100%);
  color: $white_color !important;
}
