.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  &_info {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    &_text {
      width: 300px;
      text-align: justify;
      font-size: 20px;
    }
    &_img {
      height: 200px;
      padding: 10px;
      width: 220px;
      &_content {
        height: 100%;
        rotate: right;
        animation: spin 1s linear;
      }
    }
  }

  &_chain {
    display: flex;
    gap: 10px;
    max-width: 600px;
    &_btn {
      display: flex;
      padding: 10px;
      border-radius: 20px;
      background-color: rgba(53, 144, 136, 0.329);
      color: white;
      transition: all 0.3s ease;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
    &_btn-small {
      display: none;
      width: 30px;
      height: 30px;
      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
  }

  @import './Todo/Todo.scss';
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .block_chain_btn-small {
    display: flex;
  }
  .block_chain_btn {
    display: none;
  }
}
