.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  &_info {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    &_text {
      width: 300px;
      text-align: justify;
      font-size: 20px;
    }
    &_img {
      height: 200px;
      &_content {
        height: 100%;
      }
    }
  }

  &_chain {
    display: flex;
    gap: 10px;
    width: 500px;
    &_btn {
      padding: 10px;
      border-radius: 20px;
      background-color: rgba(53, 144, 136, 0.329);
      color: white;
      transition: all 0.3s ease;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
  }

  @import './Todo/Todo.scss';
}
