.block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  &_info {
    display: flex;
    justify-content: center;
    gap: 50px;
    &_text {
      width: 300px;
      text-align: justify;
      font-size: 30px;
    }
    &_img {
      height: 200px;
      &_content {
        height: 100%;
      }
    }
  }

  @import './Todo/Todo.scss';
}
