.drawer {
  position: absolute;
  display: flex;
  background-color: rgba(166, 192, 197, 0.377);
  width: 100%;
  height: 100%;
  z-index: 1;
  &_menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #44414175;
    backdrop-filter: blur(5px);
    &_header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.562);
      &_close {
        width: $drawer_content_width;
        &:hover {
          cursor: pointer;
          opacity: 70%;
        }
      }
    }
    &_content {
      display: flex;
      justify-content: center;
      &_list {
        margin-top: 20px;
        width: $drawer_content_width;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_item {
          text-decoration: none;
          color: white;
          &:hover {
            opacity: 70%;
          }
        }
      }
    }
  }
  &_space {
    flex: 1;
  }
}
