.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  &_light {
    color: rgb(39, 38, 38);
    &:hover {
      color: rgba(39, 38, 38, 0.678);
    }
  }
  &_dark {
    color: rgb(197, 197, 197);
    &:hover {
      color: rgba(180, 178, 178, 0.76);
    }
  }
  &_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    &_item {
      font-size: 15px;
      font-weight: 500;
      &_link {
        text-decoration: none;
      }
    }
  }
  &_divider {
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 1px;
    background-color: rgba(121, 120, 120, 0.411);
  }
}

@import './NavbarSmall/NavbarSmall.scss';
@import './Spinner/Spinner.scss';

@media (max-width: 700px) {
  .navbar {
    display: none;
  }
  .navbar-small {
    display: flex;
  }
}
