.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  transition: all 1s ease-in-out;
  padding-top: 20px;
  width: 90%;
  max-width: $maxWidth_todo;

  &_input {
    display: flex;
    width: 100%;
    &_field {
      border-radius: 0px;
      border-top-left-radius: $borderRadius_input;
      background-color: transparent;
      border: 3px solid $input_color;
      width: 100%;

      &:active {
        opacity: $opacity_active;
      }
      &:focus {
        opacity: $opacity_active;
      }
      &:hover {
        opacity: $opacity_active;
      }
    }
    &_btn {
      border: 1px solid rgba(0, 0, 0, 0.02);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.3s;
      background-color: $input_color;
      color: white;
      border-top-right-radius: $borderRadius_input;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  &_items {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    overflow: scroll;
    padding-bottom: 20px;
    border: 3px solid black;
    border-bottom-right-radius: $borderRadius_input;
    border-bottom-left-radius: $borderRadius_input;
    border-top: none;
    box-sizing: border-box;
    @include boxShadow_todo;

    .done {
      text-decoration: line-through;
    }
    @import './TodosItem/TodosItem.scss';
  }
}
