.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  transition: all 1s ease-in-out;
  padding-top: 20px;
  width: 90%;
  max-width: $maxWidth_todo;
  margin-bottom: 20px;

  &_input {
    display: flex;
    width: 100%;

    &_field {
      border-radius: 0px;
      border-top-left-radius: $borderRadius_todo;
      background-color: transparent;
      border: 3px solid;
      width: 100%;
      transition: $input_transition;

      &:active {
        opacity: $opacity_active;
      }
      &:focus {
        opacity: $opacity_active;
      }
      &:hover {
        opacity: $opacity_active;
      }
    }
    &_field-empty {
      border-bottom-left-radius: $borderRadius_todo;
      transition: $input_transition_empty;
    }

    &_btn {
      border: 1px solid rgba(0, 0, 0, 0.02);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $input_transition;
      color: white;
      border-top-right-radius: $borderRadius_todo;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    &_btn-empty {
      border-bottom-right-radius: $borderRadius_todo;
      transition: $input_transition_empty;
    }
  }
  &_wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0 20px 75px 20px;

    &_items {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-height: 500px;
      overflow: scroll;
      padding-bottom: 20px;
      border: 3px solid;
      border-bottom-right-radius: $borderRadius_todo;
      border-bottom-left-radius: $borderRadius_todo;
      border-top: none;
      box-sizing: border-box;
      background-color: #3a52623d;
      @include boxShadow_todo;

      .done {
        text-decoration: line-through;
      }
      @import './TodosItem/TodosItem.scss';
    }
  }
}
