.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_input {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    // gap: 20px;
    width: 100%;
    max-width: 600px;
    &_field {
      border-radius: 0px;
      background-color: transparent;
      border: 3px solid $input_color;
      width: 100%;

      &:active {
        border-color: $input_color_active;
      }
      &:focus {
        border-color: $input_color_active;
      }
      &:hover {
        border-color: $input_color_active;
      }
    }
    &_btn {
      border: 1px solid rgba(0, 0, 0, 0.02);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border-radius: 15px;
      transition-duration: 0.3s;
      background-color: $input_color;
      color: white;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  &_items {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    overflow: scroll;
    padding-bottom: 70px;
    .done {
      text-decoration: line-through;
    }
    @import './TodosItem/TodosItem.scss';
  }
}
