.item {
  display: flex;
  width: 90%;
  max-width: 600px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 50px;
  &_title {
    background-color: #7e6f6f45;
    flex-basis: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  &_completed {
    background-color: rgba(173, 101, 101, 0.445);
  }
  &_delete {
    @include btn_action(rgba(206, 15, 15, 0.74));
  }
  &_done {
    @include btn_action(rgba(36, 172, 36, 0.767));
  }
}
