.item {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
  @include box_shadow();
  &_title {
    background-color: #7e6f6f45;
    flex-basis: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  &_completed {
    background-color: rgba(173, 101, 101, 0.445);
  }
  &_delete {
    @include btn_action(rgb(144, 47, 47));
  }
  &_done {
    @include btn_action(rgb(47, 138, 47));
  }
}
